.slider-area {
    overflow: hidden;
    height: 550px;
    background-color: #e6e6e6;
    .slider-content {
        background: linear-gradient(to right, #03b7ee 0%, #99ff00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 2;
        position: relative;
        h1 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 50px;
            font-weight: 600;
            margin-top: 10%;
        }
        p{
            padding: 0 413px 0 0;
            font-size: 14px;
        }
    }
    .funbo-img {
        position: relative;
        img {
            position: absolute;
            top: -343px;
            width: 500px;
            z-index: 1;
            right: 27px;
        }
    }
    .slider-btn {
        margin-top: 10%;
        text-align: center;
        .default-btn{
            font-family: 'Josefin Sans', sans-serif;
            background: linear-gradient(to left, #03b7ee 0%, #99ff00 100%);
            font-size: 20px;
            padding: 15px 20px;
            border-radius: 8px;
            z-index: 2;
            position: relative;
            &:hover {
                background: linear-gradient(to right, #03b7ee 0%, #99ff00 100%);
                color: #fff;
            }
        }

        .new {
            &::before {
                content: "New";
                position: absolute;
                width: 36px;
                height: 20px;
                background: red;
                top: -6px;
                right: -5px;
                font-size: 13px;
                padding: 2px 1px;
                border-radius: 8px 18px 8px 18px;
                color: #fff;
            }
        }
    }
}

.default-btn{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(to left, #03b7ee 0%, #99ff00 100%);
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    z-index: 2;
    position: relative;
    border: none;
    &:hover {
        background: linear-gradient(to right, #03b7ee 0%, #99ff00 100%);
        color: #fff;
    }
}

#balloon-container {
    height: 630px;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: opacity 500ms;
    position: absolute;
    z-index: 2;
    top: 0;
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }

  // Shapes

  #star-five {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: #d7d7d7;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #d7d7d7;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    top: 37%;
  }
  #star-five:before {
    border-bottom: 80px solid #d7d7d7;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star-five:after {
    position: absolute;
    display: block;
    color: d7d7d7;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #d7d7d7;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .shape-rote {
    animation: rotateable 4s infinite;
  }

  @keyframes rotateable{
    0%{
        transform: rotate(35deg);
    } 
    25% {
        transform: rotate(106deg);
    } 
    50% {
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(256deg);
    } 
    100% {
        transform :rotate(35deg);
    }
  }

  #pentagon {
    position: absolute;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #d7d7d7 transparent;
    top: 77%;
    right: 51px;
  }
  #pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #d7d7d7;
  }
  .shape-left {
    animation: leflef 3s infinite;
  }
  @keyframes leflef{
    0%{
        right: 51px;
    } 50% {
        right: 21px;
    } 100% {
        right: 51px;
    }
  }
  #octagon {
    width: 100px;
    height: 100px;
    background: #d7d7d7;
    position: absolute;
    top: 34%;
    right: 32px;
  }
  #octagon:before {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #d7d7d7;
    border-left: 29px solid #E5E6E5;
    border-right: 29px solid #E5E6E5;
  }
  #octagon:after {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #d7d7d7;
    border-left: 29px solid #E5E6E5;
    border-right: 29px solid #E5E6E5;
  }

  .shape-up {
    animation: upup 3s infinite;
  }
  @keyframes upup{
    0%{
        top: 34%;
    } 50% {
        top: 40%;
    } 100% {
        top: 34%;
    }
  }