.joke-area {
    background: #78e0ff38;
    .section-title{
        span{
            display: inline-block;
            margin-bottom: 15px;
            font-family: "Delicious Handrawn", cursive;
            color: #fd5d5d;
            font-size: 24px;
        }
        h2{
            font-family: "Josefin Sans", sans-serif;
            font-size: 35px;
            color: rgb(8, 189, 125);
        }
        p{
            margin-bottom: 1rem;
            padding: 0 249px;
            font-size: 12px;
            color: #999;
            margin-top: 13px;
            margin-bottom: 40px;
        }
    }

    h3{
        font-size: 17px;
        background: #d9d9d9;
        width: 39pc;
        height: 16pc;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        padding: 40px;
        line-height: 30px;
    }

    .mid {
        margin-top: 20%;
        display: inline-block;
        margin-left: 15%;
    }
}

.section-title{
    span{
        display: inline-block;
        margin-bottom: 15px;
        font-family: "Delicious Handrawn", cursive;
        color: #fd5d5d;
        font-size: 24px;
    }
    h2{
        font-family: "Josefin Sans", sans-serif;
        font-size: 35px;
        color: rgb(8, 189, 125);
    }
    p{
        margin-bottom: 1rem;
        padding: 0 249px;
        font-size: 12px;
        color: #999;
        margin-top: 13px;
        margin-bottom: 40px;
    }
}