@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Delicious+Handrawn&family=Josefin+Sans:wght@400;500;600&display=swap");
.header-area {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-area .logo a img {
  width: 125px;
  margin-left: 40px;
}
.header-area ul {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin-right: 68px;
}
.header-area ul li {
  list-style: none;
  margin-left: 40px;
}
.header-area ul li .notification {
  position: relative;
}
.header-area ul li .notification::before {
  content: "3";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  left: 5px;
  font-size: 10px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  top: -5px;
}
.header-area ul li .login-btn {
  background: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin-left: -9px;
}

.slider-area {
  overflow: hidden;
  height: 550px;
  background-color: #e6e6e6;
}
.slider-area .slider-content {
  background: linear-gradient(to right, #03b7ee 0%, #99ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  position: relative;
}
.slider-area .slider-content h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-top: 10%;
}
.slider-area .slider-content p {
  padding: 0 413px 0 0;
  font-size: 14px;
}
.slider-area .funbo-img {
  position: relative;
}
.slider-area .funbo-img img {
  position: absolute;
  top: -343px;
  width: 500px;
  z-index: 1;
  right: 27px;
}
.slider-area .slider-btn {
  margin-top: 10%;
  text-align: center;
}
.slider-area .slider-btn .default-btn {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to left, #03b7ee 0%, #99ff00 100%);
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 2;
  position: relative;
}
.slider-area .slider-btn .default-btn:hover {
  background: linear-gradient(to right, #03b7ee 0%, #99ff00 100%);
  color: #fff;
}
.slider-area .slider-btn .new::before {
  content: "New";
  position: absolute;
  width: 36px;
  height: 20px;
  background: red;
  top: -6px;
  right: -5px;
  font-size: 13px;
  padding: 2px 1px;
  border-radius: 8px 18px 8px 18px;
  color: #fff;
}

.default-btn {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to left, #03b7ee 0%, #99ff00 100%);
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 2;
  position: relative;
  border: none;
}
.default-btn:hover {
  background: linear-gradient(to right, #03b7ee 0%, #99ff00 100%);
  color: #fff;
}

#balloon-container {
  height: 630px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
  position: absolute;
  z-index: 2;
  top: 0;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}
.joke-area {
  background: rgba(120, 224, 255, 0.2196078431);
}
.joke-area .section-title span {
  display: inline-block;
  margin-bottom: 15px;
  font-family: "Delicious Handrawn", cursive;
  color: #fd5d5d;
  font-size: 24px;
}
.joke-area .section-title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: rgb(8, 189, 125);
}
.joke-area .section-title p {
  margin-bottom: 1rem;
  padding: 0 249px;
  font-size: 12px;
  color: #999;
  margin-top: 13px;
  margin-bottom: 40px;
}
.joke-area h3 {
  font-size: 17px;
  background: #d9d9d9;
  width: 39pc;
  height: 16pc;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
  line-height: 30px;
}
.joke-area .mid {
  margin-top: 20%;
  display: inline-block;
  margin-left: 15%;
}

.section-title span {
  display: inline-block;
  margin-bottom: 15px;
  font-family: "Delicious Handrawn", cursive;
  color: #fd5d5d;
  font-size: 24px;
}
.section-title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: rgb(8, 189, 125);
}
.section-title p {
  margin-bottom: 1rem;
  padding: 0 249px;
  font-size: 12px;
  color: #999;
  margin-top: 13px;
  margin-bottom: 40px;
}

.quiz-area {
  background: #fff4df;
}
.quiz-area .quiz-box {
  text-align: center;
  background: #fff;
  display: table;
  margin: auto;
  padding: 58px 61px;
}
.quiz-area .quiz-box .question h2 {
  font-family: "Josefin Sans", sans-serif;
}
.quiz-area .quiz-box .question .score-cate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.quiz-area .quiz-box .question .score-cate .score {
  color: #bdbdbd;
}
.quiz-area .quiz-box .question .score-cate .categori {
  background-color: rgb(248, 86, 86);
  color: #fff;
  padding: 5px;
  border-radius: 7px;
  font-size: 10px;
}
.quiz-area .quiz-box .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quiz-area .quiz-box .options li {
  list-style: none;
  width: 40%;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  margin-left: 10px;
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.quiz-area .quiz-box .options li:active {
  transform: scale(0.98);
}
.quiz-area .quiz-box .options li.selected {
  background-color: #ccc;
  color: #9e9e9e;
}
.quiz-area .quiz-box .default-btn {
  margin-top: 10px;
  cursor: pointer;
}
.quiz-area .quiz-box .default-btn:focus {
  outline: none;
}
.quiz-area .quiz-box .default-btn:active {
  transform: scale(0.98);
}
.quiz-area .quiz-box .play-again {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bruno Ace", cursive;
}

.dark {
  --primary-color: #000;
}

:root {
  --header-color: #12ace1ab;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}/*# sourceMappingURL=main.css.map */